@charset "UTF-8";
* {  
    font-style: initial;
    margin: 0px;
    padding: 0px;
    margin: auto;
}

body{
    /* background-color: whitesmoke; */
    background-color: darkorchid;
    width: 95vw;

}


header {
    background-color: #006491;
    height: 52px;
    /* width: 95.6vw; */
    /* width: 720px; */

}

article {
    padding-bottom: 9px;
    background-color: aqua;

}



article#article01 > div {
    background-color:rgb(255, 255, 255);
    width: 91vw;
    height: 50px;
}

article#article01 {
    padding:10px 10px 10px 12px;
    background-color: red;
    
}

article#article01 > div > div#bloco01 > p {
    padding:5px 5px 2px 5px ;
    color: #0078ae;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

article#article01 > div > div#bloco01 {
    height:40px;
    
}

article#article01 > div > div#bloco02 > a {
    text-decoration-line: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 27px;
    font-weight: bold;
    color: white;
}

article#article01 > div > div#bloco02 {
    background-color: #e3193b; 
    text-align: center;
    height: 30px;
    width: 91vw;
    box-shadow: 2px 3px 6px rgb(0 0 0 / 50%);
}

article#article01 > div > div#bloco02:hover {
    background-color: #b8132e;
    box-shadow: 0px 0px 0px;
}

div#primeiro > img {
    padding-top: 30px; 
    margin: auto;
    width: 91vw; 
}

div#primeiro {
    text-align: center;
    background-color: blue;
}

div#segundo > img {
    padding-top: 20px;
    padding-left: 12px;
    text-align: center;
    width: 91vw;
}

div#recadin {
    position:relative;
    box-shadow: 0px 1px 1px lightgray;
    background-color: white; 
    margin:auto;
    height: 42px;
    /* width: 96.2vw; */
 
}

div#recadin > div#acompanhe {
    position:absolute;
    padding: 10px;
}

div#recadin > div#acompanhe > a {
    text-decoration-line: none;
    color: #0078ae;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div#recadin > div#login01 {
    position: absolute;
    padding: 10px;
    left: 100%;
    margin-left: -20%;

}

div#recadin > div#login01 > a {
    text-decoration-line: none;
    padding:10px;
    color: #0078ae;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header > div#pai {
    position:relative;
}

header > div#pai > div#bloco01 > a#imagem01 > img#um {
    width: 37px;
    height: 32px;
    padding: 8px 0px 7px 5px;
}

header > div#pai > div#bloco01 {
    display: inline-block; 
    position: absolute;
}

header > div#pai > div#bloco02 > a#imagem02 > img#dois {
    width: 40px;
    height: 40px;
    padding: 1px 5px 5px 0px;
}

header > div#pai > div#bloco02 {
   display: inline-block;
   position: absolute;
   left: 100%;
   margin-left: -10%;
   
}

header > div#pai > div#bloco03 > a#imagem3 > img#tres {
    width: 50px;
    height: 50px;
    padding: 1px 5px 5px 0px;
}

header > div#pai > div#bloco03 {
    display: inline-block;
   position: absolute;
   left: 100%;
   margin-left: -55%;
}

div#titulo {
    position:absolute;
}

div#botoes > div { 
    background-color: #e3193b;
    text-align: center;
    height: 28px;
    width: 91vw;
    box-shadow: 2px 3px 6px rgb(0 0 0 / 50%);
    padding-top: 10px;
}

div#botoes > div > a {
    color:white;
    text-decoration-line: none;
    font-size: 19px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

div#botoes {
    padding-top: 15px;
    width: 95vw;
    background-color: green;
}

div#botoes > div:hover {
    background-color: #b8132e;
    box-shadow: 0px 0px 0px;
}

div#azul {
    padding-top:14px;
    padding-bottom: 54px;
}
div#azul > div { 
    background-color: #0078ae; 
    text-align: center;
    height: 100px;
    width: 91vw;
    padding-top: 10px;
    border-radius: 10px;
}

div#azul > div > p {
    color:white;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    padding-bottom:10px;
}

div#azul > div > div#filho1 > a {
    text-decoration: none;
    color:white;
    text-decoration-line: none;
    font-size: 19px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

div#azul > div { /* DIV pai*/
    position: relative;
}

div#azul > div > div#filho1 {
    display: inline-block;
   position: absolute;
   left: 100%;
   margin-left: -89%;
   background-color: #e3193b;
   width: 130px;
   height: 30px;
   border-radius: 5px;
   padding-top: 10px;
}

div#azul > div > div#filho1:hover {
    background-color: #b8132e;
    transition-duration: 0.5s;
}


div#azul > div > div#filho2 { 
    display: inline-block;
   position: absolute;
   right: 100%;
   margin-right: -95%;
   background-color: #e3193b; 
   width: 160px;
   height: 30px;
   border-radius: 5px;
   padding-top: 10px;
   padding-left: 5px;
   padding-right: 5px;
}

div#azul > div > div#filho2:hover {
    background-color: #b8132e;
    transition-duration: 0.5s;
}

div#azul > div > div#filho2 > a {
    text-decoration: none;
    color:white;
    text-decoration-line: none;
    font-size: 19px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

div#azul > div > p#unico {
    display: inline-block;
    font-size: 20px;
    padding-top: 10px;
    padding-right:15px;
}

footer {
    background-color: #53565a3d;
    height:100px;
    padding-top:10px; 
    padding-left: 10px;
}