@charset "UTF-8";   
* {  
    font-style: initial;
    margin: 0px;
    padding: 0px;
}

@keyframes esquerda-pra-direita {
    from {
        transform: translateX(-47vw);
    }
    to {
        transform: trasnlateX(0vw);
    }
}

@keyframes direita-pra-esquerda {
    from {
        transform: translateX(100vw);
    }
    to {
        transform: translateX(0vw);
    }
}

body{
    background-color: whitesmoke;
    margin:auto;
    padding-right: 10px;
  
}


header {
    background-color: #006491;
    height: 52px;
    position:fixed;
    width:95.6vw;
    width:100vw;
    margin:auto;

}

header > div.header {
    box-shadow: 0.5px 0.4px 0.5px rgb(163, 163, 163);
    background-color: rgb(255, 255, 255);
    margin-top: 51.5px;
    height:25.5px;
    width: 100vw;
    position:fixed;
}

div.msg-2 {
    padding:119px 10px 0px 14px; 
    background-color:rgb(255, 255, 255);
}

div.msg-2 > p {
    margin-left:5px;
    background-color: #006491;
    color:white;
    padding:10px;
    padding-left:12px;
    font-family:sans-serif;
    font-size: 16px;
    font-weight: 600;
}

div.msg-2 > p#msg-1 {
    background-color:white;
    color:black;
    font-size:20px;
    padding-left:0;
}

div.icones {
    background-color:rgb(255, 255, 255);
    height:122px;
    margin-left:20px;
    margin-right:10px;
    box-shadow:0px 1px 1px rgb(196, 196, 196);
}

div.icones > div.bloco-1 {
    position: absolute;
    margin-top:1px;
    background-color:#0078ae;
    width:80px;
    height:80px;
    border-radius:50%;
    text-align:center;
    left: 100%;
    margin-left: -30%;
}

div.icones > div.bloco-1:hover {
    background-color:#004b6d;
}

div.icones > div.bloco-1 > img {
    padding-top:17px;
    padding-left:4px;
}

div.icones > div.bloco-1 > p {
    padding-top:20px;
    color: rgb(104, 104, 104);
    font-weight: bold;
    font-size:10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width:100px;
    position:absolute;
    right:100%;
    margin-right: -112%;
}

div.icones > div.bloco-2 {
    position:absolute;
    left:100%;
    margin-left:-53.5%;
    margin-top:25px;
}

div.icones > div.bloco-3 {

    margin-left:9%;
    margin-top:10px;
    background-color: #0078ae;
    width:80px;
    height: 80px;
    border-radius:50%;
    text-align: center;
}

div.icones > div.bloco-3:hover {
    background-color: #004b6d;
}

div.icones > div.bloco-3 > img {
    padding-top:15px;
}

div.icones > div.bloco-3 > p {
    padding-top:20px;
    color: rgb(104, 104, 104);
    font-weight:bold;
    font-size:10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width:100px;
    position:absolute;
    left:100%;
    margin-left:-91%;
}

div#formulario {
    background-color: rgb(255, 255, 255);
    margin-left:20px;
    margin-right:10px;
}

div#formulario > div#fazer_login {
    background-color:#e3193b;
    text-align: center;
    border-radius: 2%;
    margin-left:36px;
    margin-right: 26px;;
}

div#formulario > div#fazer_login:hover {
    background-color: #c21834;
    transition: 0.5s;
}

div#formulario > div#fazer_login > p {
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    padding: 10px 10px;
}

div#formulario > div#fazer_login > p#texto {
    background-color:white;
    color:gray;
    font-family: 'Times New Roman', Times, serif;
    font-weight:0;
    padding:2px 0px 0px 10px; 
    text-align: left;
    font-size: 12px;

}

div#formulario > div#fazer_login > p#ou {
    background-color:white;
    color:gray;
    font-size:13px;
}

div#formulario > div#formulario {
    margin-left:36px;
}

div#formulario > div#formulario > form > label#cep > P {
    color:rgb(104, 104, 104);
    font-family:sans-serif;
    font-weight:bold;
}

div#formulario > div#formulario > form > input#cep {
    border-color:rgb(104, 104, 104);
    margin-top:12px;
    margin-bottom:15px;
    padding:4px 4px;
    width:70vw;
}

div#formulario > div#link {
    margin-bottom:20px;
    text-align:center;
    margin-top:15px;
}

div#formulario > div#link > a {
    text-decoration-color: #0078ae;
    color:#0078ae;
}

div#formulario > div#formulario > form > label#label02 {
    color:rgb(104, 104, 104);
    font-family:sans-serif;
    font-weight:bold;
}

div#formulario > div#formulario > form > select.label {
    border-color: rgb(104, 104, 104);
    background-color:rgba(104, 104, 104, 0.192);
    margin: 12px 10px 25px 0px;
    padding:4px 4px;
    width:72vw;
}

div#formulario > div#formulario > form > select#cidade {
    border-color: rgb(104, 104, 104);
    background-color:rgba(104, 104, 104, 0.192);
    margin: 12px 10px 25px 0px;
    padding:4px 4px;
    width:72vw;
}

div#formulario > div#formulario > form > input.cep {
    border-color:rgba(104, 104, 104, 0.37);
    margin-top:12px;
    margin-bottom:15px;
    padding:4px 4px;
    width:70vw;
    background-color:rgba(104, 104, 104, 0.192);
}

div#formulario > div#formulario > form > select > option {
    background-color:rgb(255, 255, 255);
}

div#formulario > div#formulario > form > label#area-de-texto > p {
    color:gray;
    font-family: sans-serif;
    margin-bottom:10px;
}

div#formulario > div#formulario > form > p#campos {
    padding-top:20px;

    margin-left: -20px;
    font-family:sans-serif;
}

div#formulario > div#formulario > form > input#submit {
    background-color:#e3193b;
    font-weight: bold;
    font-size:20px;
    border-color:white;
    color:white;
    padding:10px 10px;
    /* text-align: center; */
    border-radius: 2%;
    margin-top:20px;
    margin-right: 26px;
    margin-left:35%;
    margin-bottom:20px;
}

div#formulario > div#formulario > form > input#submit:hover {
    background-color:#c21834;
    transition:0.3s;
}

div#menu {
    width:47vw;
    height: 100vh;
    background-color:#0081bd;
    position: fixed;
    display:none;
    animation: esquerda-pra-direita 1s; 
}

div#menu > ul > li {
    color: white;
    padding-top: 10px;
    padding-left: 18px;
    width: 42vw; /* tenção*/
    padding-bottom: 10px;
    font-size: 16px ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div#menu > ul > li:hover {
    background-color: red;
    transition:0.3s;
}

div#menu > div {
    background-color:#004b6d;
    height:100px;
}

div#menu > div > div#imagem {
    padding-top:15px; 
    padding-left:150px;
    
}


div#menu > div > div#imagem > a > img {
    height:20px;
    width: 20px;

}

div#menu > div > div#texto {
    padding-left:100px;
    padding-top:25px;
    position: relative;
    height: 30px;
}

div#menu > div > div#texto > img {
    left: 100%;
    top:100%;
    margin-left: -93%;
    margin-top: -30%;
    position: absolute;
    width: 60px;
    height: 60px;
}

div#menu > div > div#texto > p {
    color: white;
    font-size: 12px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div#carrinho {
    display:none;
    position: fixed;
    animation: direita-pra-esquerda 1s;
    width: 100vw;
    height:100vh;
    background-color: white;
}

div#carrinho > div#menssagem {
    position:absolute;
    padding-top:15px;
    padding-left:10px;
    color:#0081bd;
    font-weight: bolder;
    font-size:21px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div#carrinho > div#x {
    position:absolute;
    left:100%;
    margin-left:-15%;
}

div#carrinho > div#x > a > img {
    width: 50px;
    height:50px;
}

div#carrinho > div > p  {
    padding-top:50px;
    padding-left:5px;
    padding-right:8px;
    padding:60px 8px 20px 5px;
    font-size: 16px;
    font-weight: bold; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:gray;
}

div#carrinho > div#botao01 {
    background-color:#e3193b;
    color:white;
    margin:auto;
    width: 160px;
    height:28px;
    font-size:16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top:14px;
    padding-left:20px;
    border-radius:3%;
}
 
div#carrinho > div#botao01 > a {
    text-decoration: none;
    color:white;

}

div#carrinho > div#botao01:hover {
    background:#b8132e;
    transition:0.5s;
}

article {
    padding-bottom: 100px;

}



article#article01 > div {
    background-color:rgb(255, 255, 255);
    width: 91vw;
    height: 50px;
    
}

article#article01 {
    padding:10px 10px 10px 12px;
    
}

article#article01 > div > div#bloco01 > p {
    padding:5px 5px 2px 5px ;
    color: #0078ae;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

article#article01 > div > div#bloco01 {
    height:40px;
    
}

article#article01 > div > div#bloco02 > a {
    text-decoration-line: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 27px;
    font-weight: bold;
    color: white;
}

article#article01 > div > div#bloco02 {
    background-color: #e3193b; 
    text-align: center;
    height: 30px;
    width: 91vw;
    box-shadow: 2px 3px 6px rgb(0 0 0 / 50%);
}

article#article01 > div > div#bloco02:hover {
    background-color: #b8132e;
    box-shadow: 0px 0px 0px;
}

div#primeiro > img {
    padding-top: 30px; 
    margin: auto;
    width: 91vw; 
}

div#primeiro {
    text-align: center;

}

div#segundo > img {
    padding-top: 20px;
    padding-left: 12px;
    text-align: center;
    width: 91vw;

}

div#recadin {
    position:fixed;
    box-shadow: 0px 1px 1px lightgray;
    background-color: rgb(255, 255, 255);
    /* opacity: 0.7; */
    font-weight: bold;
    top:7.30%;
    margin:auto;
    height: 42px;
    width:95.6vw;
    width:100vw;
 
}

div#recadin > div#acompanhe {
    position:absolute;
    padding: 10px;
}

div#recadin > div#acompanhe > a {
    text-decoration-line: none;
    color: #0078ae;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div#recadin > div#login01 {
    position: absolute;
    padding: 10px;
    left: 100%;
    margin-left: -20%;

}

div#recadin > div#login01 > a {
    text-decoration-line: none;
    padding:10px;
    color: #0078ae;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header > div#pai {
    position:relative;
}

header > div#pai > div#bloco01 > a#imagem01 > img#um {
    width: 37px;
    height: 32px;
    padding: 8px 0px 7px 5px;
}

header > div#pai > div#bloco01 {
    display: inline-block; 
    position: absolute;
}

header > div#pai > div#bloco02 > a#imagem02 > img#dois {
    width: 40px;
    height: 40px;
    padding: 1px 5px 5px 0px;
    /* text-align: center; */
}

header > div#pai > div#bloco02 {
   display: inline-block;
   position: absolute;
   left: 100%;
   margin-left: -12%;
   
}

header > div#pai > div#bloco03 > a#imagem3 > img#tres {
    width: 50px;
    height: 50px;
    padding: 1px 5px 5px 0px;
}

header > div#pai > div#bloco03 {
    display: inline-block;
   position: absolute;
   left: 100%;
   margin-left: -55%;
}

div#titulo {
    position:absolute;
}

div#botoes > div { 
    background-color: #e3193b;
    text-align: center;
    height: 28px;
    width: 91vw;
    box-shadow: 2px 3px 6px rgb(0 0 0 / 50%);
    padding-top: 10px;
}

div#botoes > div > a {
    color:white;
    text-decoration-line: none;
    font-size: 19px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

div#botoes {
    padding-top: 15px;
    padding-left: 12px;
    width: 95vw;
}

div#botoes > div:hover {
    background-color: #b8132e;
    box-shadow: 0px 0px 0px;
}

div#azul {
    padding-top:14px;
    padding-bottom: 54px;
    padding-left: 12px;
}

div#azul > div { 
    background-color: #0078ae; 
    text-align: center;
    height: 100px;
    width: 91vw;
    padding-top: 10px;
    border-radius: 10px;
}

div#azul > div > p {
    color:white;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    padding-bottom:10px;
    
}

div#azul > div > div#filho1 > a {
    text-decoration: none;
    color:white;
    text-decoration-line: none;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

div#azul > div {
    position: relative;
}

div#azul > div > div#filho1 {
    display: inline-block;
   position: absolute;
   right: 100%;
   margin-right: -38%;
   background-color: #e3193b;
   width:120px;
   height: 30px;
   border-radius: 5px;
   padding-top: 10px;
}

div#azul > div > div#filho1:hover {
    background-color: #b8132e;
    transition-duration: 0.5s;
}


div#azul > div > div#filho2 { 
    display: inline-block;
   position: absolute;
   right: 100%;
   margin-right: -97%;
   background-color: #e3193b;
   width: 120px;
   height: 30px;
   border-radius: 5px;
   padding-top: 10px;
   padding-left: 5px;
   padding-right: 5px;
}

div#azul > div > div#filho2:hover {
    background-color: #b8132e;
    transition-duration: 0.5s;
}

div#azul > div > div#filho2 > a {
    text-decoration: none;
    color:white;
    text-decoration-line: none;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

div#azul > div > p#unico {
    display: inline-block;
    font-size: 20px;
    padding-top: 10px;
    padding-right:15px;
}

footer {
    background-color: #53565a3d;
    height:100px;
    padding-top:10px; 
    padding-left: 10px;
}

/* Daqui pra frente vai er configuração pra dispositivos maiores 
@media screen and (min-width: 700px) {
    body {
        background-color: red;
    }

    header {
        background-color:green;
    }
}
*/