@charset "UTF-8";   
* {  
    font-style: initial;
    margin: 0px;
    padding: 0px;
}

@keyframes esquerda-pra-direita {
    from {
        transform: translateX(-47vw);
    }
    to {
        transform: trasnlateX(0vw);
    }
}

@keyframes direita-pra-esquerda {
    from {
        transform: translateX(100vw);
    }
    to {
        transform: translateX(0vw);
    }
}

body{
    /* background-color: rgba(249, 16, 16, 0.593); */
    /* background-color: whitesmoke; */
    background-color: red;
    /* margin:auto; */
    /* padding-right: 10px; */
    
}

body::-webkit-scrollbar {
    display: none;
}


header {
    background-color: #006491;
    height: 52px;
    position:fixed;
    /* width:95.6vw; */
    width:100vw;
    margin:auto;


}

header > div.header {
    box-shadow: 0.5px 0.4px 0.5px rgb(163, 163, 163);
    background-color: rgb(255, 255, 255);
    margin-top: 51.5px;
    height:25.5px;
    width: 100%;
    position:fixed;
}

header > div#pai > div#bloco03 {
    align-items: center;

}

div.msg-2 {
    padding:119px 10px 0px 10.5px;
    background-color: whitesmoke;

}

div.msg-2 > p {
    margin: 0 auto;
    background-color: #006491;
    color:white;
    padding:10px;
    padding-left:12px;
    font-family:sans-serif;
    font-size: 16px;
    font-weight: 600;
    max-width: 359px;
    
}

div.msg-2 > p#msg-1 {
    background-color:rgba(255, 255, 255, 0);
    color:black;
    font-size:20px;
    padding-left:0;
}

div.icones {
    margin: 0 auto;
    padding-top:10px;
    background-color:white;
    height:122px;

    box-shadow:0px 1px 1px rgb(196, 196, 196);
    max-width: 379px;
}

div.icones > div.bloco-1 {
    position: absolute;
    /* position:static; */
    margin-top:1px;
    background-color:#0078ae;
    /* background-color: red; */
    width:80px;
    height:80px;
    border-radius:50%;
    margin-left: 290px;
}

div.icones > div.bloco-1:hover {
    background-color:#004b6d;
}

div.icones > div.bloco-1 > img {
    padding-top:17px;
    padding-left:4px;
    padding-left: 17px;
}

div.icones > div.bloco-1 > p {
    padding-top:20px;
    color: rgb(104, 104, 104);
    font-weight: bold;
    font-size:10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width:100px;
    position:absolute;
    right:100%;
    margin-right: -125%;
    
}

div.icones > div.bloco-2 {
    /* background-color:green; */
    /* display: inline-block; */
    
    position:absolute;
    margin-left:180px;
    margin-top:25px;
}

div.icones > div.bloco-3 {
    
    margin-left:9%;
    margin-top:0px;
    background-color: #0078ae;
    width:80px;
    height: 80px;
    border-radius:50%;
    text-align: center;
}

div.icones > div.bloco-3:hover {
    background-color: #004b6d;
}

div.icones > div.bloco-3 > img {
    padding-top:15px;
}

div.icones > div.bloco-3 > p {
    padding-top:20px;
    color: rgb(104, 104, 104);
    font-weight:bold;
    font-size:10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width:100px;
    margin-left:-12px;
    position:absolute;
    
    
}


div#googlemaps {
    /* background-color: green; */
    display: none;
    max-width: 380px;
    margin: 0 auto;
}

div#googlemaps > iframe {
    width: 380px;
    height: 400px;
}

div#googlemaps > p {
    color: white;
}

div#formulario {
    background-color: rgb(255, 255, 255);
    max-width: 379px;
    display: none;
    padding-bottom:1px;
    margin: 0 auto;
}


div#formulario > div#fazer_login {
    background-color:#e3193b;
    text-align: center;
    border-radius: 2%;
    margin-left:36px;
    margin-right: 26px;

}

div#formulario > div#fazer_login:hover {
    background-color: #c21834;
    color: black;
    transition: 0.5s;
}

div#formulario > div#fazer_login > p {
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    padding: 10px 10px;
}

div#formulario > div#fazer_login > p#texto {
    background-color:white;
    color:gray;
    font-family: 'Times New Roman', Times, serif;
    font-weight:0;
    padding:2px 0px 0px 10px; 
    text-align: left;
    font-size: 12px;

}

div#formulario > div#fazer_login > p#ou {
    background-color:white;
    color:gray;
    font-size:13px;
}

form#form {
    background-color:rgb(255, 255, 255);
    padding-left:22px;

    margin: 0 auto;
    display:none;
    /* max-width: 380px; */
    max-width: 358px;
    
}

div#formulario > div#formulario > form > label#cep > P {
    color:rgb(104, 104, 104);
    font-family:sans-serif;
    font-weight:bold;
}

div#formulario > div#formulario > form > input#cep {
    border-color:rgb(104, 104, 104);
    margin-top:12px;
    margin-bottom:15px;
    padding:4px 4px;
    width:70vw;
}

div#formulario > div#link {
    margin-bottom:20px;
    text-align:center;
    margin-top:15px;
    display: none;
}

div#formulario > div#link > a {
    text-decoration-color: #0078ae;
    color:#0078ae;
}

form#form > label#label02 {
    color:rgb(104, 104, 104);
    font-family:sans-serif;
    font-weight:bold;
    text-align:left;
}

form#form > input#rua {

    width: 320px;
    margin-top:20px;
    margin-bottom:20px;
    border-color: rgba(12, 8, 8, 0.159);
    background-color:rgba(104, 104, 104, 0.185);
}

form#form > input#numero {
    width:320px;
    margin-top:20px;
    margin-bottom:20px;
    
}

form#form > select.label {
    border-color: rgb(104, 104, 104);
    background-color:rgb(255, 255, 255);
    margin: 12px 10px 25px 0px;
    padding:4px 4px;
    width:320px;
}

form > select#cidade {
    border-color: rgb(104, 104, 104);
    background-color:rgba(104, 104, 104, 0.192);
    margin: 12px 10px 25px 0px;
    padding:4px 4px;
    width:320px;
}

div#formulario > div#formulario > form > input.cep {
    border-color:rgba(104, 104, 104, 0.37);
    margin-top:12px;
    margin-bottom:15px;
    padding:4px 4px;
    width:70vw;
    background-color:rgba(104, 104, 104, 0.192);
}

form#form > select#estado > option {
    background-color:rgb(255, 255, 255);
}

form > label#area-de-texto > p {
    color:gray;
    font-family: sans-serif;
    margin-bottom:10px;
}

form#form > p#campos {
    padding-top:20px;

    margin-left: -20px;
    font-family:sans-serif;
}

form#form > input#submit {
    background-color:#e3193b;
    font-weight: bold;
    font-size:20px;
    border-color:white;
    color:white;
    padding:10px 10px;

    border-radius: 2%;
    margin-top:20px;
    margin-right: 26px;
    margin-left:29%;
    margin-bottom:20px;
}

form#form > input#reset {
    background-color:#e3193b;
    font-weight: bold;
    font-size:20px;
    border-color:white;
    color:white;
    padding:10px 10px;
    
    border-radius: 2%;
    margin-top:20px;
    margin-right: 26px;
    margin-left:29%;
    margin-bottom:20px;
}

form#form > input#reset:hover {
    background-color:#c21834;
    transition:0.3s;
}

form#form > input#submit:hover {
    background-color:#c21834;
    transition:0.3s;
}

div#menu {
    /* width:47vw; */
    width: 230px;
    height: 100vh;
    background-color:#0081bd;
    position: fixed;
    /* display: block; */
    display:none;
    animation: esquerda-pra-direita 1s; 
}

div#menu > ul > li {
    padding:10px;
    padding-left: 18px;
}

div#menu > ul > li > a {
    color: white;
    text-decoration: none;
    font-size: 16px ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div#menu > ul > li:hover {
    background-color: red;
    transition:0.3s;
}

div#menu > div {
    background-color:#004b6d;
    height:100px;
}

div#menu > div > div#imagem {
    padding-top:15px; 
    padding-left:150px;
    
}


div#menu > div > div#imagem > a > img {
    height:20px;
    width: 20px;

}

div#menu > div > div#texto {
    padding-left:100px;
    padding-top:25px;
    position: relative;
    height: 30px;
}

div#menu > div > div#texto > img {
    left: 100%;
    top:100%;
    margin-left: -93%;
    margin-top: -30%;
    position: absolute;
    width: 60px;
    height: 60px;
}

div#menu > div > div#texto > p {
    color: white;
    font-size: 12px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div#carrinho {
    display:none;
    position: fixed;
    animation: direita-pra-esquerda 1s;
    width: 100vw;
    height:100vh;
    background-color: white;
}

div#carrinho > div#menssagem {
    position:absolute;
    padding-top:15px;
    padding-left:10px;
    color:#0081bd;
    font-weight: bolder;
    font-size:21px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div#carrinho > div#x {
    position:absolute;
    left:100%;
    margin-left:-15%;
}

div#carrinho > div#x > a > img {
    width: 50px;
    height:50px;
}

div#carrinho > div > p  {
    padding-top:50px;
    padding-left:5px;
    padding-right:8px;
    padding:60px 8px 20px 5px;
    font-size: 16px;
    font-weight: bold; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:gray;
}

div#carrinho > div#botao01 {
    background-color:#e3193b;
    color:white;
    margin:auto;
    width: 160px;
    height:28px;
    font-size:16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top:14px;
    padding-left:20px;
    border-radius:3%;
}
 
div#carrinho > div#botao01 > a {
    text-decoration: none;
    color:white;

}

div#carrinho > div#botao01:hover {
    background:#b8132e;
    transition:0.5s;
}

article {
    padding-bottom: 100px;

}



article#article01 > div {
    background-color:white;

    max-width: 530px;
    margin: 0 auto;
    height: 50px;

    
}

article#article01 {
    padding:10px 10px 10px 12px;
    
}


article#article01 > div > div#bloco01 > p {
    padding:5px 5px 2px 5px ;
    color: #0078ae;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

article#article01 > div > div#bloco01 {
    height:40px;
    margin: 0 auto;

}
    
article#article01 > div > div#bloco02 > a {
    text-decoration-line: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 27px;
    font-weight: bold;
    color: white;
}

article#article01 > div > div#bloco02 {

    background-color: #e3193b;
    text-align: center;
    height: 30px;

    box-shadow: 2px 3px 6px rgb(0 0 0 / 50%);
}

article#article01 > div > div#bloco02:hover {
    background-color: #b8132e;
    box-shadow: 0px 0px 0px;
}

div#primeiro > img {

    padding-top: 30px;

    max-width: 95%;

}

div#primeiro {

    text-align: center;
    margin: 0 auto;
    max-width: 560px;

}

div#segundo {
    text-align: center;
    margin: 0 auto;
    max-width:560px;
    
}

div#segundo > img {
    padding-top: 20px;
    max-width: 95%;
    margin: 0 auto;

}

div#recadin {
    position:fixed;
    box-shadow: 0px 1px 1px lightgray;
    background-color: rgb(255, 255, 255);

    font-weight: bold;
    top: 51px;
    margin:auto;
    height: 42px;
    width:95.6vw;
    width:100vw;
 
}

div#recadin > div#acompanhe {
    position:absolute;
    padding: 10px;
}

div#recadin > div#acompanhe > a {
    text-decoration-line: none;
    color: #0078ae;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div#recadin > div#login01 {
    position: absolute;

    left: 100%;
    margin-left: -13%;
    height: 20px;
    padding-top: 10px;
    text-align: right;
    /* background-color: red; */

}

div#recadin > div#login01 > a {
    text-decoration-line: none;

    color: #0078ae;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    width: 100%;
}

header > div#pai {
    position:relative;
}

header > div#pai > div#bloco01 > a#imagem01 > img#um {
    width: 37px;
    height: 32px;
    padding: 8px 0px 7px 5px;
}

header > div#pai > div#bloco01 {
    display: inline-block; 
    position: absolute;
}

header > div#pai > div#bloco02 > a#imagem02 > img#dois {
    width: 40px;
    height: 40px;

    
}

header > div#pai > div#bloco02 {

   position: absolute;
   position: fixed;
   left: 100%;
   margin-left: -13%;
   /* background-color: red; */
   
   
}

header > div#pai > div#bloco03 > a#imagem3 > img#tres {
    width: 50px;
    height: 50px;
    padding: 1px 5px 5px 0px;
    
}

header > div#pai > div#bloco03 {
    display: inline-block;
   position: absolute;
   margin-left: 46%;
   /* padding-right: ; */
   /* margin: 0 auto; */
   /* width: 100%; */
   /* text-align: center; */
   /* background-color: yellow; */
}

header > div#pai > div#bloco03 > a {
    

}

div#titulo {
    position:absolute;
    
}

div#botoes > div { 
    background-color: #e3193b;
    text-align: center;
    height: 28px;
    /* width: 91vw; */
    box-shadow: 2px 3px 6px rgb(0 0 0 / 50%);
    padding-top: 10px;
}

div#botoes > div > a {
    color:white;
    text-decoration-line: none;
    font-size: 19px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

div#botoes {
    padding-left: 10px;
    padding-top: 15px;
    padding-right: 10px;
    max-width: 529px;
    margin: 0 auto;
}

div#botoes > div:hover {
    background-color: #b8132e;
    box-shadow: 0px 0px 0px;
}

div#azul {

    padding-top:14px;
    padding-bottom: 54px;
    max-width: 529px;
    margin: 0 auto;
    
}

div#azul > div {
    margin: 0 auto;
    background-color: #0078ae; 
    text-align: center;
    height: 100px;
    max-width: 95%;
    padding-top: 10px;
    border-radius: 10px;
}

div#azul > div > p {
    color:white;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    padding-bottom:10px;
    
}

div#azul > div > div#filho1 > a {
    text-decoration: none;
    color:white;
    text-decoration-line: none;
    /* font-size: 14px; */
    /* font-size: 100px; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

div#azul > div {
    position: relative;
}

div#azul > div > div#filho1 {
    display: inline-block;
   position: absolute;
   right: 100%;
   margin-right: -38%;
   background-color: #e3193b;
   width:120px;
   height: 30px;
   border-radius: 5px;
   padding-top: 10px;
}

div#azul > div > div#filho1:hover {
    background-color: #b8132e;
    transition-duration: 0.5s;
}


div#azul > div > div#filho2 { 
    display: inline-block;
   position: absolute;
   /* right: 100%; */
   /* margin-right: -97%; */
   margin-left: 26px;
   background-color: #e3193b;
   width: 120px;
   height: 30px;
   border-radius: 5px;
   padding-top: 10px;
   padding-left: 5px;
   padding-right: 5px;
}

div#azul > div > div#filho2:hover {
    background-color: #b8132e;
    transition-duration: 0.5s;
}

div#azul > div > div#filho2 > a {
    text-decoration: none;
    color:white;
    text-decoration-line: none;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

div#azul > div > p#unico {
    display: inline-block;
    font-size: 20px;
    padding-top: 10px;
    padding-right:15px;
}

footer {
    background-color: #53565a3d;
    height:100px;
    padding-top:10px; 
    padding-left: 10px;
}

/*                    aqui vai para telas maiores do mobile                    */


@media screen and (min-width: 580px) {
    body {
        background-color:red;
    }


}